* {
  font-size: 14pt;
}

.container {
  padding: 10px;
}

.wrapper {
  grid-template-columns: 1fr 1fr;
}

.wrapper a {
  color: black;
  text-decoration: none;
}

.wrapper textarea {
  width: 100px;
  resize: none;
}

.header {
  border-bottom: 1px solid;
}

.workspace {
  float: left;
  clear: left;
}

#PageMoveButtons {
  text-align: center;
}

.output {
  float: left;
}
