input, span, textarea {
  font-size: 12pt;
}

.container {
  padding: 10px;
}

.wrapper {
  grid-template-columns: 1fr 1fr;
}

.wrapper a {
  color: black;
  text-decoration: none;
}

.wrapper textarea {
  width: 400px;
  height: 200px;
}

.header {
  border-bottom: 1px solid;
}

.workspace {
  float: left;
  clear: left;
}

.buttonAndOptionLine {
  text-align: center;
}

.output {
  float: left;
}

@media screen and (min-width: 1200px) {
  input, span, textarea {
    font-size: 11pt;
  }

  .wrapper textarea {
    width: 700px;
    resize: none;
  }

  #inputText, #tmpOutputText {
    height: 300px;
  }

  #outputText {
    height: 705px;
  }
}
